/*
 * Imports
 */
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300");

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,300,300italic);

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);


/*
 * Blinking cursor with Typed.js
 */
.typed-cursor{
    color:red;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*
 * Values
 */
/*
 * Classes
 */
.invisible {
  visibilty: hidden;
}
.courierBlackBold {
  font-family: courier;
  font-weight: bold;
  color: black;
}
.chevron {
  font-family: courier, serif;
  font-weight: bold;
  color: red;
}
.innerNavMargin {
  margin: 15px 0px;
}
.highlight {
  font-style: #2e8ece;
  color: #2e8ece;
}
.prettyText {
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}
/*
 * Main document
 */
* {
  padding: 0;
  margin: 0;
  height: auto;
}
html {
  height: 100%;
}
html body {
  height: 80%;
  overflow: hidden;
}
html body main {
  background-color: white;
  height: 100%;
}
nav {
  margin: 30px 0px 0px 0px;
}
nav div {
  margin: 15px 0px;
}
nav #pwd a {
  font-family: courier;
  font-weight: bold;
  color: black;
  font-size: 30px;
}
nav #pwd a span {
  color: #808080;
}
nav #quote {
  font-family: 'Merriweather', serif;
  text-align: right;
}
nav #quote span {
  font-style: italic;
}
section {
  /*margin: 20px;*/
}
section h1 {
  font-family: courier;
  font-weight: bold;
  color: black;
  font-size: 25px;
}
section div {
  display: none;
}
section div article {
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  font-family: courier, serif;
}
section div article h2 {
  /*font-family: Merriweather, serif;*/
  font-size: 22px;
  font-style: italic;
  text-align: center;
}
section div article p {
  font-size: 17px;
  line-height: 23px;
}
section div article p a {
  text-decoration: none;
  color: #ff0000;
}
section div article p a:hover {
  text-decoration: none;
  color: #990000;
}
section div article ul {
  list-style-type: none;
}
section div article ul li {
  /*.courierBlackBold;*/
  font-size: 16px;
  /*line-height: @article-li-line-height;*/
}
section aside {
  font-family: courier, serif;
  font-style: italic;
  visibility: hidden;
  cursor: pointer;
}
#second-section,
#third-section {
  visibility: hidden;
}
#sectionCon article {
  text-align: center;
  font-style: italic;
}
#sectionCon article div a {
  text-decoration: none;
  display: block;
}
#in,
#tw,
#gh {
  display: none;
}
pre {
  background: none;
  border: none;
}
#githubAscii,
#twitterAscii,
#linkedinAscii {
  font-size: 8px;
  line-height: 8px;
}
#githubAscii {
  color: #4183c4;
}
#linkedinAscii {
  color: #1985bc;
}
#twitterAscii {
  color: #55acee;
}
