/*
 * Imports
 */
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300");

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,300,300italic);

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

@import url(http://fonts.googleapis.com/css?family=Roboto);

@import url(http://fonts.googleapis.com/css?family=Raleway);

/*
 * Blinking cursor with Typed.js
 */
.typed-cursor{
    color:red;
    opacity: 1;
    -webkit-animation: blink 0.7s 1s;
    -moz-animation: blink 0.7s 1s;
    animation: blink 0.7s 1s;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*
 * Values
 */
/*
 * Classes
 */
.invisible {
  visibilty: hidden;
}
.titles {
  font-family: 'Raleway', 'monospace', 'courier', 'serif';
  font-weight: bold;
  color: black;
}
.courierBlackBold {
  font-family: courier;
  font-weight: bold;
  color: black;
}
.chevron {
  font-family: courier, serif;
  font-weight: bold;
  color: red;
}
.innerNavMargin {
  margin: 15px 0px;
}
.highlight {
  font-style: #2e8ece;
  color: #2e8ece;
}
.prettyText {
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  font-family: 'Raleway', 'monospace', 'courier', 'serif';
}
.link {
  text-decoration: none;
  color: red;
}
.link:hover {
  text-decoration: none;
  color: #990000;
}
/*
 * Main document
 */
* {
  padding: 0;
  margin: 0;
  height: auto;
}
html {
  height: 100%;
  /*background-color: #EFEAAD;*/
}
html body {
  height: 80%;
  /*overflow: hidden;*/
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}
html body main {
  background-color: white;
  height: 100%;
  padding: 0 10px;
}
nav {
  margin: 30px 0px 0px 0px;
}
nav div {
  margin: 15px 0px;
}
nav #pwd a {
  font-family: 'Raleway', 'monospace', 'courier', 'serif';
  font-size: 3em;
}
@media (max-width: 500px) {
  nav #pwd a {
    font-size: 2.5em;
  }
}
nav #pwd a span {
  color: grey;
}
nav #quote {
  font-family: 'Merriweather', serif;
  text-align: right;
  color: grey;
}
nav #quote span {
  font-style: italic;
}
section h1 {
  font-family: 'Raleway', 'monospace', 'courier', 'serif';
  font-weight: bold;
  color: black;
  font-size: 2.3em;
}
section div {
  visibility: hidden;
}
section div article {
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  font-family: 'Raleway', 'monospace', 'courier', 'serif';
}
section div article h2 {
  font-size: 1.8em;
  font-style: italic;
  text-align: center;
}
section div article p {
  font-size: 2em;
  line-height: 1.4em;
}
section div article p a {
  text-decoration: none;
  color: red;
}
section div article p a:hover {
  text-decoration: none;
  color: #990000;
}
section div article ul {
  list-style-type: none;
}
section div article ul li {
  font-size: 1.5em;
  line-height: 1.2em;
}
section aside {
  visibility: hidden;
  cursor: pointer;
  text-align: right;
}
section aside span {
  text-decoration: none;
  color: red;
  border: 1px solid red;
  border-radius: 10px;
  background-color: white;
  font-family: 'Raleway', 'monospace', 'courier', 'serif';
  font-size: 1.4em;
  padding: 5px;
  /*font-style: italic;*/
  /*padding: 10px;*/
}
section aside span:hover {
  text-decoration: none;
  color: #990000;
}
@media (max-width: 500px) {
  section aside {
    text-align: center;
  }
}
#second-section,
#third-section {
  visibility: hidden;
}
#sectionCon article {
  text-align: center;
  font-style: italic;
}
#sectionCon article div a {
  text-decoration: none;
  display: block;
}
#in,
#tw,
#gh {
  display: none;
}
pre {
  background: none;
  border: none;
}
#githubAscii,
#twitterAscii,
#linkedinAscii {
  font-size: 8px;
  line-height: 8px;
}
#githubAscii {
  color: #4183c4;
}
#linkedinAscii {
  color: #1985bc;
}
#twitterAscii {
  color: #55acee;
}
