/*
 * Imports
 */
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300");

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

/*
 * Font faces
 */
@font-face {
    font-family: 'Inconsolata';
    src: url("fonts/Inconsolata.otf") format("opentype");
}
@font-face {
    font-family:Goody;
    src: url("fonts/goudy_bookletter_1911-webfont.ttf") format("truetype");
}

@font-face {
    font-family:JunctionB;
    src: url("fonts/junction-bold.ttf") format("truetype");
}
@font-face {
    font-family:JunctionL;
    src: url("fonts/junction-light.ttf") format("truetype");
}
@font-face {
    font-family:JunctionR;
    src: url("fonts/junction-regular.ttf") format("truetype");
}
@font-face {
    font-family:LinLibertine_RI;
    src: url("fonts/LinLibertine_RI.ttf") format("truetype");
}
@font-face {
    font-family:Prociono;
    src: url("fonts/Prociono-Regular-webfont.ttf") format("truetype");
}

/*
 * Basic Settings
 */
* {
    padding:0;
    margin:0;
}

body {
    background-image: url(" backrground1.jpg ");
    height:100%;
}

/*
 * Class that will contain everything
 */
#mainframe {
    background-color:white;
    height:100%;
}

/*
 * Navigation Bar
 */
nav {
    margin: 30px 0px 0px 0px;
}

nav div {
    margin: 15px 0px;
}

#pwd a {
    color: black;
    font-family: courier;
    font-weight:bold;
    font-size:30px;
} 

#pwd a span {
    color:grey;
}

#quote {
    font-family: 'Roboto Slab', serif;
    text-align:right;
}

#quote span {
    font-style: italic;
}


/*
 * Text Sections
 */
section .sectionText {
    display:none;
}
section h1 {
    /*font-family:'Source Code Pro';*/
    font-family: courier;
    font-weight: bold;
    font-size:20px;
}

#h-exp .chevron {
    color : red;
}

section article {
    text-align:justify;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}

section article h2 {
    text-align: center;
    font-size:15px;
}

/*
 * Blinking cursor with Typed.js
 */
.typed-cursor{
    color:red;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
