@import url("general.css");
@import url("nav.css");

/************************************************************************************/
/* Général */
/************************************************************************************/


body
{
	display:flex;
	flex-direction:column;
	background: url("res/rainbow.jpg") no-repeat center center fixed;
	background-position: center top;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	font-family: 'Exo', sans-serif;
	margin:0px;
	height: 100%;
	min-height : 100%;
	padding:0;
}

section 
{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content:space-around;
}

#prin {
	display:flex;
	flex-flow:row wrap;	
	align-items:space-around;
	justify-content:center;
	height:100%;
	width: 60%;
}

.case {
	display: flex;
	flex:space-around;
	flex-flow:column wrap;
	justify-content:center;
	align-items:center;

	text-align: center;
	width:50%;
	min-width: 300px;
}

.case img  {
	margin: 10px;
	padding:0;
	width: 30%;
	background-color: rgba(25, 25, 25, 0.5);
	border-radius:180px;
	border:1px solid #ecf0f1;

}

.case p {
	padding: 0px 10px 0 10px;
	color: #ecf0f1;
}

