{# Use base.j2 template as a base and only provide values for placeholders
   in this file.
#}
{% extends "base.j2" %}

{% block header %} 

Hi, I am <em>Etienne Batise</em>
======================

{# "Here is my quote". Author #} 
{% endblock %} 

{% block sec1par1 %} 
## Software engineering rookie

I'm an <em>engineering student</em> at INSA de Rouen specialised in computer
engineering. I've learnt lot of stuff there. The courses are mainly about
programming and software design. I became fond of <em>Object-Oriented
    software</em> design which I practiced using Java and C++. I discovered
Linux systems and it happens to be something I really enjoy using every day.

During a year, I've worked with 8 other students for a financial reporting
company [Invoke](http://www.invoke-software.fr). I've learnt many technical and
soft skills during this project. As the IT manager, I had to maintain the
server, deploy a continous integration tool-chain and ensure backups. As the
project manager assistant, I've worked with <em>Agility</em> using a quality
management system.

{% endblock %} 

{% block laptopTooltip %}
This an accurate representation of how my screen looks like to other people.
{% endblock laptopTooltip %}

{% block sec1par2 %} 
## I.T. Enthusiast

I am interested in I.T. in general. I daily use the <em>Archlinux</em>
distribution, I manage my servers with <em>Debian</em> and I support open-source
and free softwares as much as possible (mainly via github).
I like to use <span class="crossed">old</span> proven tools like
<em>Vim</em>, <em>Git</em> and <em title="No, no.. it is a tool to write documents">LaTeX</em>, as well as brand new technologies like <em>Docker</em>.

I read a lot of blog post via rss, twitter and reddit to keep myself up to date.
My favorite topics are <em>functionnal programming</em> and <em>continous
    integration infrastucture</em>. I also like to read more introspective
posts that make me question my point of view.

I've been part of <em>Quantic Télécom</em> operation team. I recommend you to
have a look at it.


{% endblock %} 

{% block sec2par %}
## Passionate musician

Music is certainly one of the most essential things to me. I listen to music all
the time, from classical music to indie rock, passing by jazz or funk. I'm
particularly a big fan of the <em>Arctic Monkeys</em>.

That passion comes from the fact that I went to music school for about 10 years,
learning drums, music theory, and music orchestra. Now, I have a band called
<em>Mattress</em>. We like to compose, rehearse, perfom live. What I like is
going in studio to record and produce our songs.


{% endblock sec2par %}

{% block drumsetTooltip %}
This pixel art drumset is supposed to look a bit like mine, only with less details.
{% endblock drumsetTooltip %}

{% block sec3 %}
## Get in touch 
{% endblock sec3 %}

{% block footer %}
Powered by [Hyde](http://hyde.github.io), modified by <em>me</em>, hosted on
a teapot near London <i class="fa fa-coffee"></i> 
{% endblock footer %}
